.box {
  border: 1px solid;
  height: 400px;
  width: 400px;
  position: relative;
}
.pizza {
  position: absolute;
  inset: 0;
}
.pizza img {
  width: 100%;
}
.checkboxlist {
  border: 1px solid;
  height: 400px;
  width: 400px;
}